-
	let items = [
		'Beschreibung',
		'Farbepalette'
	]

#carouselFenster.carousel.carousel-product.slide.py-5(data-ride='carousel_disabled', data-interval='0', style='background-color: #c9eeff')
	.wrapper.d-flex.justify-content-between
		a.carousel-control-prev(href='#carouselFenster', role='button', data-slide='prev')
			span.carousel-control-prev-icon(aria-hidden='true')
			span.sr-only Previous
	
		.carousel-inner
			.carousel-item.active
				.d-flex.flex-column.flex-md-row.align-items-center.h-100
					.w-100.h-50.position-relative.order-md-0.order-1.my-5.my-md-0.text-center.text-md-right
						.h1 Ideal 8000
						.description.scrollable.w-100.h-100.d-flex.flex-column.justify-content-start
							p Fenster jüngster Generation. Falls Sie diese Fenster wählen, dann wählen sie gleichzeitig Wärme, Ruhe und ästhetische Optik. Die im System Ideal 8000 erzeugten Fenster gewährleisten Wärmedämmung und Schallisolierung auf höchstem Niveau. Sie sind beim Bauen von Passivhäusern zu empfehlen.				
							.text-left.pl-2
								ul.checklist
									li.checked
										b 0.76
										|
										| Uw fur Ug=0.5 (wärmen Rahmen)
									li
										b 1.10
										|
										| Uw fur Ug=1.0 (wärmen Rahmen)
								p.checklist-summary
									span
										b 3
										|
										| Dichtungen
									|
									span
										b 6
										|
										| Kammern (Rahmen)
					.viewport.w-100.h-100.order-md-1.order-0.d-flex.align-items-center
						img.d-block.mw-100.mx-auto(src='assets/images/catalog/fenster/pvc-fenster/ideal-8000/cover.png', alt='viewport')
			.carousel-item
				.d-flex.flex-column.flex-md-row.h-100.align-items-center
					.w-100.h-50.position-relative.order-md-0.order-1.my-5.my-md-0.text-center.text-md-right
						.h1 Ideal 8000
						ul.thumbs.scrollable.h-100.d-flex.justify-content-start.justify-content-md-end.flex-wrap
							- 
								let series = function() {
									let count = 12;
									let items = [];
									for ( let i = 0; i < count; i++ ) {
										let idn = i + 1;
										if ( idn < 10 ) idn = `0${idn}`;
										items.push(idn);
									}
									return items;
								}();
							each item in series
								li
									img(src=`assets/images/catalog/fenster/pvc-fenster/ideal-8000/patterns/${item}.jpg`, alt=`${item}`)
					.viewport.w-100.h-50.order-md-1.order-0
						img.d-block.mx-auto(src='assets/images/catalog/fenster/pvc-fenster/ideal-8000/patterns/01.jpg', alt='viewport')
			ol.carousel-indicators.justify-content-center.justify-content-md-start
				each item, i in items
					-
						let attrs = {}
						if ( i === 0 ) attrs['class'] = 'active'
					li(data-target='#carouselFenster', data-slide-to=`${i}`)&attributes(attrs)
						| #{item}
		
		a.carousel-control-next(href='#carouselFenster', role='button', data-slide='next')
			span.carousel-control-next-icon(aria-hidden='true')
			span.sr-only Next

	


